.body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    color: #333;
}

.header {
    background-color: #0056b3; /* Blue */
    color: white;
    padding: 20px;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #ffa500; /* Orange */
    padding: 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.navbar a:hover {
    text-decoration: underline;
}

.button {
    background-color: #0056b3; /* Blue button */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {
    background-color: #004494;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}